<!DOCTYPE html>
<html>
  <head>
    <title>Marketing Review Tool</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/metisMenu.css">
    <link rel="stylesheet" href="/styles/toastr.css">
    <!--STYLES END-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%- partial('partials/navbar.ejs') %>
        <%- partial('partials/sidebar.ejs') %>
      </nav>
      <div id="page-wrapper">
        <%- body %>
      </div>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/metisMenu.js"></script>
    <script src="/js/dependencies/noty.js"></script>
    <script src="/js/dependencies/sb-admin-2.js"></script>
    <script src="/js/dependencies/validator.js"></script>
    <!--SCRIPTS END-->
    <% if (scripts) { %>
    <% for (i = 0; i < scripts.length; i++) { %>
    <script src="<%- scripts[i] %>"></script>
    <% } %>
    <% } %>
  </body>
</html>